.Footer {
  background-color: rgb(27, 27, 29);
}
li {
  list-style-type: none;
  line-height: 30px;
}
.button {
  margin: 80% 90%;
}
.input {
  outline: none;
  border: none;
}
.myForm {
  width: 45%;
  height: auto;
  background-color: #ffffff;
  margin-left: 105%;
}
.backGround {
  background-color: #318CE7;
}
.mainHead {
  font-size: 4rem !important;
}
input{
  width: 100%;
}